<div ng-init="listarUsuarios()">
    <h3>{{'TATIC'| translate}}</h3>
    <div class="panel panel-default">
        <div class="panel-body">
            <a href="#/cadastro/usuario/novo" class="btn btn-success btn-fab btn-raised mdi-content-add"></a>
        </div>
    </div>


    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>{{'NAME' | translate}}</th>
                    <th>Chance</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <!-- test row -->
                    <td>{{1}}</td>
                    <td>{{'Alex'}}</td>
                    <td style="text-align: center" >
                        <label for="slider">({{slider_value}}) </label>
                        <input ng-model="slider_value" type="range" name="slider" id="slider" value="30" min="0" max="100" />
                    </td>
                    <td>
                        <a href="" ng-click="editarUsuario(usuario)" class="btn btn-primary">{{'EDIT' | translate}}</a>
                        <a href="" ng-click="excluirUsuario(usuario)" class="btn btn-danger">{{'DELETE' | translate}}</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>