<!DOCTYPE html>
<html ng-app="yumiAdmin">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Proxy Wars</title>

        <!--ANGULAR-->
        <script src="core/angular/angular-min.js"></script>
        <script src="core/angular/angular-locale_pt-br.js"></script>
        <script src="core/angular/angular-route.min.js"></script>
        <script src="core/angular/ui-utils.min.js"></script>
        <script src="core/angular/angular-animate.min.js"></script>
        <script src="core/angular/ngStorage.js"></script>
        <script src="core/angular/hotkeys.min.js"></script>
        <link href="core/angular/hotkeys.min.css" rel="stylesheet">
        <script src="core/angular/i18n/angular-translate.js" ></script>
        <script src="core/angular/i18n/angular-translate-loader-url.js" ></script>
        <script src="core/angular/color-picker/ngjs-color-picker.js" ></script>
        <link href="core/angular/color-picker/ngjs-color-picker.css" rel="stylesheet">

        <!--FONT-AWESOME-->
        <link href="core/font-awesome/css/font-awesome.css" rel="stylesheet">
        <script src="core/jquery/jquery-1.10.2.js"></script>
        <script src="core/angular/utils/ui-utils.min.js"></script>

        <!--TEMA-->
        <link href="view/theme/boostrap/bootstrap.min.css" rel="stylesheet">
        <script src="view/theme/boostrap/bootstrap.min.js"></script>
        <link href="view/theme/material-ui/css/material.min.css" rel="stylesheet">
        <link href="view/theme/material-ui/css/ripples.min.css" rel="stylesheet">
        <link href="view/theme/material-ui/css/roboto.min.css" rel="stylesheet">
        <script src="view/theme/material-ui/js/material.min.js"></script>
        <script src="view/theme/material-ui/js/ripples.min.js"></script>

        <!--APP-->
        <!--BASE SISTEMA-->
        <script src="controller/base/base.js"></script>
        <!--FIM - BASE SISTEMA-->

        <script src="controller/auxiliar/auxiliar.js"></script>
        <script src="controller/auxiliar/i18n.js"></script>
        <script src="controller/cadastro/usuario/controle_usuario.js"></script>
        <script src="controller/cadastro/exercito/controle_exercito.js"></script>
        <script src="controller/cadastro/soldado/controle_soldado.js"></script>



        <link href="view/theme/sistema/estilo.css" rel="stylesheet">
        <!--FIM - APP-->

    </head>
    <body class="body_pw">
        <div class="navbar navbar-inverse" style="background-color : {{cor_painel}}">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="javascript:void(0)">Proxy Wars - ADMIN</a>
            </div>
            <div class="navbar-collapse collapse navbar-inverse-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="javascript:void(0)">{{ 'HOME' | translate}}</a></li>
                    <li class="dropdown">
                        <a href="" data-target="#" class="dropdown-toggle" data-toggle="dropdown">{{'REGISTER'| translate}}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">{{'SYSTEM'| translate }}</li>
                            <li><a href="#/cadastro/usuario">{{'USER'| translate }}</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">{{'GAME'| translate }}</li>
{#                            <li><a href="#/cadastro/soldado">{{'GENERATE_SOLDIER'| translate }}</a></li>#}
                            <li><a href="#/cadastro/soldado">{{'CREATE_SOLDIER'| translate }}</a></li>
                            <li><a href="#/cadastro/tatic">{{'CREATE_TATIC'| translate }}</a></li>
                            <li><a href="#/cadastro/exercito">{{'CREATE_ARMY'| translate }}</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-controller='linguagemControle'>
                    <li class="dropdown">
                        <a href="index.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown"><img src="blank.gif" class="{{linguagem_selecionada}}" alt="Linguagem" /> {{'LANGUAGE'| translate}} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="" ng-click='mudarLinguagem("pt-BR", "flag flag-br")'><img src="blank.gif" class="flag flag-br" alt="Português" /> Português</a></li>
                            <li><a href="" ng-click='mudarLinguagem("en", "flag flag-us")'><img src="blank.gif" class="flag flag-us" alt="English" /> English</a></li>
                            <li><a href="" ng-click='mudarLinguagem("fr", "flag flag-fr")'><img src="blank.gif" class="flag flag-fr" alt="Français" /> Français</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div ng-view>

                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
